@import "./styles.scss";

.my-about {
  margin-top: 32px;
  &-info {
    margin-top: 93px;
    padding-left: 15px;
    padding-right: 15px;
    &-image {
      width: 100%;
      border-radius: 8px;
    }
    &-title {
      font-size: 34px;
      font-weight: 500;
      line-height: 40px;
      letter-spacing: 0.25px;
      color: #fff;
      margin: 24px 0;
    }
    &-description {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.44px;
      color: #fff;
      &__emphasis {
        color: #5c62ec;
      }
    }
  }
}

.skills {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  &-title {
    margin-top: 24px;
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #fff;
    text-align: center;
  }
  &-card {
    padding: 22px 16px 16px 16px;
    background-color: #1c1e22;
    border-radius: 8px;
    margin-bottom: 24px;
    &-title {
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: #fff;
      margin-top: 16px;
      margin-bottom: 10px;
    }
    &-description {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.25px;
      color: #fff;
    }
  }
}
